    body {

        background-color: rgb(161, 47, 117);
        color: goldenrod;
        font-family: sans-serif;
        font-family: "Edu NSW ACT Hand Pre", cursive;
        margin: 0px;

    }

    header{
        font-size: 80px;
        border-bottom: double 5px rgb(36, 3, 31);
        padding: 30px;
        text-align: center;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }
    section {
        background-color: rgb(102, 20, 75);
        padding-bottom: 80px;
        padding-top: 80px;

    }